In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('HSR Layout.csv')

In [42]:
df.drop('Unnamed: 0',axis=1,inplace=True)
df.head()

,names,ratings,cost,dish,deliveryin_min,order
0,Ovenstory Pizza,3.9,₹300 for one,"Pizza, Fast Food",31 min,2100+ orders placed from here recently
1,Bakingo,4.2,₹300 for one,"Bakery, Desserts",26 min,4175+ orders placed from here recently
2,Meghana Foods,4.3,₹300 for one,"Biryani, Andhra, North Indian, Seafood",34 min,30325+ orders placed from here recently
3,McDonald's,3.9,₹200 for one,"Burger, Fast Food",22 min,7625+ orders placed from here recently
4,Pizza Hut,3.6,₹200 for one,"Pizza, Fast Food, Desserts, Beverages",27 min,5150+ orders placed from here recently

In [43]:
#hsr
food = []
i=0

while i<df.shape[0]:
    for x in df['dish'][i].split(','):
        food.append(x.strip().lower())
    i+=1

food = np.array(food)
hsr = np.unique(food)
print(len(hsr))
hsr

74

array(['afghan', 'american', 'andhra', 'arabian', 'asian', 'awadhi',
       'bakery', 'bbq', 'bengali', 'beverages', 'bihari', 'biryani',
       'bubble tea', 'burger', 'burmese', 'cafe', 'chettinad', 'chinese',
       'coffee', 'continental', 'desserts', 'fast food', 'finger food',
       'french', 'gujarati', 'healthy food', 'hyderabadi', 'ice cream',
       'indonesian', 'italian', 'japanese', 'juices', 'kebab', 'kerala',
       'korean', 'lebanese', 'maharashtrian', 'mangalorean', 'mexican',
       'middle eastern', 'mithai', 'modern indian', 'momos', 'mughlai',
       'nepalese', 'north eastern', 'north indian', 'odia', 'oriental',
       'paan', 'pancake', 'panini', 'pasta', 'pizza', 'rajasthani',
       'rolls', 'salad', 'sandwich', 'seafood', 'shake', 'shawarma',
       'sichuan', 'south indian', 'steak', 'street food', 'sushi',
       'tamil', 'tea', 'thai', 'tibetan', 'turkish', 'vietnamese',
       'waffle', 'wraps'], dtype='<U14')

In [51]:
menu = ['Pizza']
j=0
dfindex = []

while j<df.shape[0]:
    for x in menu:
        if x.lower() in df['dish'][j].lower():
            dfindex.append(j)
            break
    j+=1

In [52]:
dffinal = df.iloc[dfindex]

In [53]:
dffinal

,names,ratings,cost,dish,deliveryin_min,order
0,Ovenstory Pizza,3.9,₹300 for one,"Pizza, Fast Food",31 min,2100+ orders placed from here recently
4,Pizza Hut,3.6,₹200 for one,"Pizza, Fast Food, Desserts, Beverages",27 min,5150+ orders placed from here recently
9,Onesta,3.7,₹200 for one,"Pizza, Pasta, Sandwich, Fast Food, Desserts, B...",22 min,2450+ orders placed from here recently
34,Pizza @99,3.3,₹200 for one,"Pizza, Fast Food",37 min,575+ orders placed from here recently
38,The Pizza Bakery,4.0,₹200 for one,"Pizza, Pasta, Italian, Continental, Desserts, ...",44 min,3750+ orders placed from here recently
84,Brik Oven,4.1,₹250 for one,"Pizza, Cafe, Italian, Fast Food, Desserts, Bev...",51 min,1825+ orders placed from here recently
85,Crusto's - Cheese Burst Pizza,3.9,₹250 for one,Pizza,33 min,450+ orders placed from here recently
119,Ovenstore Pizza,3.1,₹200 for one,"Pizza, Fast Food",47 min,2000+ orders placed from here recently
131,Social Delivery,4.1,₹350 for one,"North Indian, Chinese, Biryani, Pasta, Burger,...",39 min,1625+ orders placed from here recently
210,Basil Pizzeria,3.8,₹250 for one,"Pizza, Desserts, Beverages",27 min,325+ orders placed from here recently
245,Nomad Pizza - Traveller Series,4.0,₹50 for one,"Pizza, Italian",31 min,1400+ orders placed from here recently
288,Food Adda,3.5,₹150 for one,"Fast Food, Sandwich, Pizza, Burger, Beverages",42 min,300+ orders placed from here recently
290,Nizza Pizza,3.9,₹150 for one,Pizza,31 min,550+ orders placed from here recently
308,Fat Tiger,3.7,₹100 for one,"Momos, Burger, Pizza, Shake, Fast Food, Beverages",16 min,400+ orders placed from here recently
313,Toppings Town Pizza,3.4,₹200 for one,"Pizza, Fast Food",43 min,4950+ orders placed from here recently
357,Hustle,3.6,₹350 for one,"Cafe, Coffee, Tea, Pizza, Pasta, Sandwich, Fas...",56 min,1500+ orders placed from here recently